/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li{
  list-style: none;
}

.btn-margin {
    margin: 5px 0; 
}

.container-margin-top{
	margin-top: 70px;
}

#notice_wrapper {
  display: none;
  left: 15px;
  position: absolute;
  top: 63px;
  z-index: 999;
  
}

.alert { background: rgba(255, 100, 5, 0.80); }
.notice{ background:rgba(91, 192, 222, 0.80); }
.alert, .notice {
  color: #fff;
  border-radius: 9px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;    
  padding: 15px 30px;
  text-align: center;  
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}


.label-file{

}

.input-file{
  display: none !important;
}

.ui-helper-hidden-accessible{
  display: none;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

  .ui-autocomplete > li{
    padding: 5px 10px;
  }

  .ui-autocomplete > li:hover{
    background: #337ab7;
    color: #fff;
  }












