/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-margin {
    margin: 5px 0; 
}

.container-margin-top{
	margin-top: 70px;
}

#notice_wrapper {
  display: none;
  left: 15px;
  position: absolute;
  top: 63px;
  z-index: 999;
  
}

.alert { background: rgba(255, 100, 5, 0.80); }
.notice{ background:rgba(91, 192, 222, 0.80); }
.alert, .notice {
  color: #fff;
  border-radius: 9px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;    
  padding: 15px 30px;
  text-align: center;  
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
