<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2016, Serviciosenunclick, Todo los derechos reservados

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

           Contactanos en: |  +569 42185077 contacto@suec.cl

        </div>

      </div>

    </div>

  </div>

</div>